html {
    background: url('../assets/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.inner-container {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: auto;
}

.margin-auto {
    margin: auto;
}

.divider {
    width: 100%;
    margin-top: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.logo-container {
	width: 6rem;
	height: 5rem;
}

.content {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    width: 60%;
    margin: auto;
    text-align: center;
}

.wrap::after {
    content: '_';
    color: #666;
    width: 1rem;
    height: 3rem;
    animation: blink_animation .75s infinite;
  }

  @keyframes blink_animation {
    50% { opacity: 0; }
  }

  @keyframes github_fall {
    0% { top: 0rem; }
    100% {
            top: 6rem;
            transform: rotate(30deg);
        }
  }

  @keyframes github_roll {
    0% { left: 0rem; }
    100% {
            top: 6.5rem;
            left: 6rem;
            transform: rotate(200deg);
        }
  }

  @keyframes github_fall_over {
    0% { top: 6.5rem; }
    100% {
            top: 60rem;
            transform: rotate(30deg);
        }
  }

.circle {
    width: 3rem;
    height: 3rem;
    margin: .75rem;
}

.circle:hover {
    width: 3.75rem;
    height: 3.75rem;
    display:inline-block;
    text-align: center;
}

.transition {
    transition: .15s;
    -moz-transition: .15s;
    -webkit-transition: .15s;
    -o-transition: .15s;
    -ms-transition: .15s;
}

.github_fall {
    position: relative;
    animation: github_fall .25s linear 0s 1 forwards,
               github_roll 2s linear .25s 1 forwards,
               github_fall_over 2s linear 2.25s 1 forwards;
}

#github_img {
    max-width: 60%;
    margin-top: 20%;
}

#salesforce_img {
    max-width: 60%;
    margin-top: 31%;
}

#trailhead_img {
    max-width: 60%;
    margin-top: 31%;
}

#linkedin_img {
    max-width: 55%;
    margin-top: 23%;
}
