body {
    background-image: url("../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

.outer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.inner-container{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: auto;
}

.margin-auto{
    margin: auto;
}

.divider{
    width: 100%;
    margin-top: 5px;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.content{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    width: 60%;
    margin: auto;
    text-align: center;
}

.wrap::after {
    content: '_';
    color: #666;
    width: 1rem;
    height: 50px;
    animation: blink_animation .75s infinite;
  }

  @keyframes blink_animation {
    50% {
      opacity: 0;
    }
  }

.circle{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.transition{
    transition: .15s;
    -moz-transition: .15s;
    -webkit-transition: .15s;
    -o-transition: .15s;
    -ms-transition: .15s;
}

.circle:hover{
    width: 62px;
    height: 62px;
    display:inline-block;
    text-align: center;
}

#github_img{
    max-width: 60%;
    margin-top: 20%;
}

#salesforce_img{
    max-width: 60%;
    margin-top: 31%;
}

#mail_img{
    max-width: 60%;
    margin-top: 27%;
}

#linkedin_img{                /* restricting width dinamically */
    max-width: 55%;
    margin-top: 23%;
}

#github{
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    margin-top: 15px;
    visibility: hidden;
}

#mail{
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    margin-top: 19px;
    visibility: hidden;
}

#salesforce{
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    margin-top: 19px;
    visibility: hidden;
}

#linkedin{
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    margin-top: 17px;
    visibility: hidden;
}